In [32]:
import pandas as pd
import os
import re
import numpy as np

# EMICRON 22

### 1. Lectura información

In [33]:
data_path = r"D:\DANE - Contrato\2024\Operativo Barrido\Data\Crudos"

In [34]:
emicron_22 = pd.read_sas(os.path.join(data_path,"emicron_2022.sas7bdat"), format = "sas7bdat")
# pd.DataFrame(emicron_22.columns).to_excel("Variables.xlsx")
# emicron_22[:5].transpose().to_excel("Muestra.xlsx")

#### 1.1 Arreglo variables

In [35]:
# Construcción id
emicron_22['id'] = emicron_22['DIRECTORIO'].astype(int).astype(str) + emicron_22['SECUENCIA_P'].astype(int).astype(str) + emicron_22['ORDEN'].astype(int).astype(str)

C:\Users\carlo\AppData\Local\Temp\ipykernel_20888\104079840.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  emicron_22['id'] = emicron_22['DIRECTORIO'].astype(int).astype(str) + emicron_22['SECUENCIA_P'].astype(int).astype(str) + emicron_22['ORDEN'].astype(int).astype(str)

In [36]:
# pd.DataFrame(emicron_22[['VENTAS_MES_ANTERIOR','P3057','P3058','P3059','P3060','P3061','P3062','P4002','P3063','P3064','P3065','P3066','P3067','P3092','P3093',
#             'REMUNERACION_TOTAL',
#             'GASTOS_MES','P3017_A','P3017_B','P3017_C','P3017_D','P3017_E','P3017_F','P3017_G','P3017_H','P3017_K',
#             'COSTOS_MES_ANTERIOR','P3056_A','P3056_B','P3056_C','P3056_D',
#             'P3032_1','P3032_2','P3032_3',
#             'COD_DEPTO','area','GRUPOS4','P3053','P1633','P1055','P640','P639','P3034']].isna().sum())

pd.DataFrame(emicron_22[[#'VENTAS_MES_ANTERIOR','P3057','P3058','P3059','P3060','P3061','P3062','P4002','P3063','P3064','P3065','P3066','P3067','P3092','P3093',
           'REMUNERACION_TOTAL',
           'GASTOS_MES','P3017_A','P3017_B','P3017_C','P3017_D','P3017_E','P3017_F','P3017_G','P3017_H','P3017_K',
           'COSTOS_MES_ANTERIOR','P3056_A','P3056_B','P3056_C','P3056_D',
           'P3032_1','P3032_2','P3032_3',
           'COD_DEPTO','area','GRUPOS4','P3053','P1633','P1055','P640','P639','P3034','MPIO','GRUPOS12','CIIU_3','P2760']].info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84753 entries, 0 to 84752
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   REMUNERACION_TOTAL   84753 non-null  float64
 1   GASTOS_MES           84753 non-null  float64
 2   P3017_A              84753 non-null  float64
 3   P3017_B              84753 non-null  float64
 4   P3017_C              84753 non-null  float64
 5   P3017_D              84753 non-null  float64
 6   P3017_E              84753 non-null  float64
 7   P3017_F              84753 non-null  float64
 8   P3017_G              84753 non-null  float64
 9   P3017_H              84753 non-null  float64
 10  P3017_K              84753 non-null  float64
 11  COSTOS_MES_ANTERIOR  84753 non-null  float64
 12  P3056_A              21803 non-null  float64
 13  P3056_B              44510 non-null  float64
 14  P3056_C              7653 non-null   float64
 15  P3056_D              10767 non-null  float64
 16  P3032_1              15017 non-null  float64
 17  P3032_2              15017 non-null  float64
 18  P3032_3              15017 non-null  float64
 19  COD_DEPTO            84753 non-null  object
 20  area                 56224 non-null  float64
 21  GRUPOS4              84753 non-null  object
 22  P3053                84753 non-null  float64
 23  P1633                84753 non-null  float64
 24  P1055                84753 non-null  float64
 25  P640                 84753 non-null  float64
 26  P639                 84753 non-null  float64
 27  P3034                84753 non-null  float64
 28  MPIO                 84753 non-null  object
 29  GRUPOS12             84753 non-null  object
 30  CIIU_3               84753 non-null  float64
 31  P2760                57942 non-null  object
dtypes: float64(27), object(5)
memory usage: 20.7+ MB

Empty DataFrame
Columns: []
Index: []

In [37]:
emicron_22['COD_DEPTO'].astype('int')

0         8
1         8
2         8
3         8
4         8
         ..
84748    66
84749    66
84750    66
84751    25
84752    25
Name: COD_DEPTO, Length: 84753, dtype: int32

In [38]:
emicron_22['GRUPOS12'] = emicron_22['GRUPOS12'].astype('int')
emicron_22['GRUPOS4'] = emicron_22['GRUPOS4'].astype('int')
emicron_22['MPIO'] = emicron_22['MPIO'].astype('int')
emicron_22['COD_DEPTO'] = emicron_22['COD_DEPTO'].astype('int')

### 2. Filtrado de la información
Se procederá a filtrar la base de datos con base en unos elementos particulares:  
1. Actividades económicas que cubre EMICRON y que no serán tenidas en cuenta en CENU.  
2. Ubicación del micronegocio. Ya que se entrenará un modelo para puestos fijos y micronegocios en vivienda (sólo los visibles al público), y otro para puestos móviles.   
3. Otras variables como el número de establecimientos, que permitan mantener una información homogénea.

#### 2.1 Actividades económicas que cubrirá el CENU 
Emicron incluye preguntas a los sectores de agricultura, ganadería, caza, silvicultura y pesca; además, de minería. Debido a que estos sectores no harán parte del Universo del Censo Económico, se descartarán de la base de datos:

In [39]:
emicron_22 = emicron_22[~(emicron_22['GRUPOS12'].isin([1,2,13]))]
emicron_22.shape

(73966, 496)

#### 2.2 Ubicación del micronegocio
Para el entrenamiento de los modelos se utilizará la ubicación de micronegocios en 1: Vivienda, 2: Local (puestos fijos), 4: Ambulante, por lo tanto sólo estas categorías se mantendrán. De igual manera, el CENU, sólo recolectará información de actividades económicas visibles, por lo tanto se filtrará por este tipo de micronegocios.

In [40]:
print(emicron_22['P3053'].value_counts())

# Seleccionar sólo viviendas, establecimientos y ambulantes
emicron_22 = emicron_22[emicron_22['P3053'].isin([1,2,4])]

print(emicron_22['P3053'].value_counts())

1.0    24206
3.0    15006
5.0    11263
2.0    10739
4.0     9184
6.0     2812
8.0      390
7.0      366
Name: P3053, dtype: int64
1.0    24206
2.0    10739
4.0     9184
Name: P3053, dtype: int64

In [41]:
# Visibilidad del micronegocio (sólo para viviendas)
emicron_22.drop(emicron_22[(emicron_22['P3053'] == 1) & (emicron_22['P469'] == 2)].index, inplace = True)

# [(emicron_22['P469'] == 1)]
print(emicron_22['P3053'].value_counts())

1.0    13395
2.0    10739
4.0     9184
Name: P3053, dtype: int64

In [42]:
emicron_22.shape

(33318, 496)

In [43]:
# Reemplazar los códigos en función de la codificación que se recibirá en el CENU
# 1: Establecimiento fijo
# 3: Vivienda con actividad económica visible
def rule(i):
    if i == 1:
        return 3
    elif i == 2:
        return 1
    return i

emicron_22['P3053'] = list(map(rule,emicron_22['P3053']))
print(emicron_22['P3053'].value_counts())

3.0    13395
1.0    10739
4.0     9184
Name: P3053, dtype: int64

#### 2.3 Ventas del mes anterior
Eliminar las filas cuyas ventas del año pasado son missing y cero

In [44]:
# Valores nulos ventas
print("Valores nulos ventas: ", emicron_22["VENTAS_MES_ANTERIOR"].isna().sum())

# Valores cero ventas
print("Ventas en cero: ", (emicron_22["VENTAS_MES_ANTERIOR"]==0).sum())

# Eliminar los registros con venta cero
#emicron_22 = emicron_22[~(emicron_22["VENTAS_MES_ANTERIOR"] == 0)]

emicron_22.shape

Valores nulos ventas:  0
Ventas en cero:  817

(33318, 496)

#### 2.4 Número de establecimientos
Eliminar las filas cuyo número de estabecimientos es diferente a 1, ya que la información que recolecta el CENU es por establecimiento y la recolectada por EMICRON es a nivel de negocio, pero a veces se presenta información también solo por establecimiento cuando el negocio tiene más de un establecimiento. Para evitar eso, sólo utilizar los micronegocios que reportan un sólo establecimiento comercial, que representan el 99.36 % de la muestra (casi todos).

In [50]:
emicron_22['P3054'] = pd.to_numeric(emicron_22['P3054'], errors='coerce')
print(emicron_22['P3054'].value_counts(),"\n_____________\n")
emicron_22 = emicron_22[(emicron_22['P3054'] == 1) | ((emicron_22['P3054'].isna()) & (emicron_22['P3053']==4))]
emicron_22.shape

1.0     27363
2.0        99
3.0        13
99.0       12
4.0         2
9.0         1
Name: P3054, dtype: int64
_____________

(33191, 496)

In [53]:
pd.crosstab(emicron_22['P3054'].isna(), emicron_22['P3053'])

P3053    1.0    3.0   4.0
P3054
False  10655  13371  3337
True       0      0  5828

In [54]:
pd.crosstab(emicron_22['P469'], emicron_22['P3053'])

P3053   1.0    3.0   4.0
P469
1.0    9972  13371  3129
2.0     683      0   208

### 3. Creación variables principales
1. Se creará una agrupación para la variable del número total de empleados  
2. Se agregarán los costos y los gastos en una sola variable (CYG)  
3. AREA se recodificará para que muestre si la observación pertenece a una ciudad capital del departamento  
4. Contabilidad

#### 3.1 Personal Ocupado

In [55]:
emicron_22['POTTOT'] = emicron_22[['P3032_1','P3032_2','P3032_3']].sum(axis=1) + 1
#emicron_22['POT_rem'] = emicron_22[['P3032_1']].sum(axis=1) + 1
#emicron_22['POT_norem'] = emicron_22[['P3032_2','P3032_3']].sum(axis=1)

# emicron_22[['POTTOT','POT_rem','POT_norem']].describe()
# emicron_22[['POTTOT','POT_rem','POT_norem','REMUNERACION_TOTAL']].corr()

#print("Coincidentes entre POTTOT y desagregación propuesta:\n",(emicron_22['POTTOT'] == emicron_22[['POT_rem','POT_norem']].sum(axis=1)).value_counts())

In [56]:
emicron_22['POTTOT'].describe()

count    33191.000000
mean         1.386611
std          0.867077
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          9.000000
Name: POTTOT, dtype: float64

#### 3.2 Ventas al mes

In [57]:
# Comparación suma individual y la agregada
print("Número de filas coincidentes entre la variable agregada y la suma de las individuales:\n",(emicron_22['VENTAS_MES_ANTERIOR'] == emicron_22[['P3057','P3058','P3059','P3060','P3061','P3062','P4002','P3063','P3064','P3065','P3066','P3067','P3092','P3093']].sum(axis=1)).value_counts())
#emicron_22[['VENTAS_MES_ANTERIOR','P3057','P3058','P3059','P3060','P3061','P3062','P4002','P3063','P3064','P3065','P3066','P3067','P3092','P3093']][~(emicron_22['VENTAS_MES_ANTERIOR'] == emicron_22[['P3057','P3058','P3059','P3060','P3061','P3062','P4002','P3063','P3064','P3065','P3066','P3067','P3092','P3093']].sum(axis=1))]

Número de filas coincidentes entre la variable agregada y la suma de las individuales:
 True    33191
dtype: int64

#### 3.3 Costos y gastos al mes

In [58]:
# Comparación suma individual y la agregada
print("Número de filas coincidentes entre la variable agregada y la suma de las individuales:\n",(emicron_22['COSTOS_MES_ANTERIOR'] == emicron_22[['P3056_A','P3056_B','P3056_C','P3056_D']].sum(axis=1)).value_counts())

Número de filas coincidentes entre la variable agregada y la suma de las individuales:
 True    33191
dtype: int64

In [59]:
# Comparación suma individual y la agregada
print("Número de filas coincidentes entre la variable agregada y la suma de las individuales:\n",(emicron_22['GASTOS_MES'] == emicron_22[['P3017_A','P3017_B','P3017_C','P3017_D','P3017_E','P3017_F','P3017_G','P3017_H','P3017_K']].sum(axis=1)).value_counts())

Número de filas coincidentes entre la variable agregada y la suma de las individuales:
 True    33191
dtype: int64

In [60]:
# Agregación de la variable
emicron_22['CYG'] = emicron_22[['COSTOS_MES_ANTERIOR','GASTOS_MES']].sum(axis=1)

#### 3.4 Variable de Ciudad Capital y A.M
Recodificar la variable de Área en función de si es una ciudad principal o un área metropolitana dentro del departamento

In [61]:
def rule_city(i):
    if pd.isna(i) == True:
        return 0
    else:
        return 1
    return i

emicron_22['CPAM'] = list(map(rule_city,emicron_22['area']))

In [62]:
pd.crosstab(emicron_22['COD_DEPTO'],emicron_22['area'].isna())

area       False  True
COD_DEPTO
5           1487   419
8           1343   434
11           663    11
13          1392   350
15           659   260
17          1018   269
18          1249   261
19           723   263
20           843   246
23           791   315
25             0   433
27           704   159
41           710   311
44          1186   535
47          1465   724
50          1171   383
52          1220   706
54          1147   232
63           783   242
66          1036   178
68          1510   597
70          1319   368
73           748   315
76          1144   550
88           319     0

#### 3.5 Variables de formalidad

In [63]:
## Formalidad del micronegocio
# Tiene RUT
emicron_22['P1633'] = [0 if num == 2 else num for num in emicron_22['P1633']]
# Está inscrito en CC
emicron_22['P1055'] = [0 if num == 2 else num for num in emicron_22['P1055']]

#### 3.6 Manera de llevar la contabilidad

In [208]:
## Manera de llevar contabilidad
# Se unifica 4: informes financieros en 1: Balance General P&G
print("Frecuencia forma de llevar contabilidad emicron:\n",emicron_22['P640'].value_counts(),"__________\n")

emicron_22['P640'] = [1 if num == 4 else num for num in emicron_22['P640']]
print("Frecuencia luego de la homologación:\n",emicron_22['P640'].value_counts(),"________\n")

# Se cambia el 5 por 4, para homogenizar con los códigos de CENU
emicron_22['P640'] = [4 if num == 5 else num for num in emicron_22['P640']]
print("Frecuencia luego del cambio de códificación:\n",emicron_22['P640'].value_counts(),"________\n")

Frecuencia forma de llevar contabilidad emicron:
 5.0    12437
3.0     9841
2.0     2490
1.0      952
4.0      118
Name: P640, dtype: int64 __________

Frecuencia luego de la homologación:
 5.0    12437
3.0     9841
2.0     2490
1.0     1070
Name: P640, dtype: int64 ________

Frecuencia luego del cambio de códificación:
 4.0    12437
3.0     9841
2.0     2490
1.0     1070
Name: P640, dtype: int64 ________

#### 3.7 Antigüedad

In [68]:
emicron_22['ANIOS_OPERACION'] = emicron_22['P3034'] / 12
#emicron_22['ANIOS_OPERACION'].describe()
emicron_22['ANIOS_OPERACION'] = round(emicron_22['ANIOS_OPERACION'])
emicron_22['ANIOS_OPERACION'].describe()

count    33191.000000
mean        10.077973
std         10.228451
min          0.000000
25%          2.000000
50%          6.000000
75%         15.000000
max         83.000000
Name: ANIOS_OPERACION, dtype: float64

#### 3.8 Sexo

In [70]:
emicron_22['P35'].value_counts()
emicron_22['P35'] = [0 if num == 2 else num for num in emicron_22['P35']]

## 4. Renombrar variables

In [72]:
nombre_estandar = {'P3053': 'UBICA',
                   'P1633': 'IDRUT',
                   'P640': 'REG_CONT',
                   'P1055':'CAMCOMER',
                   'P639' : 'ANOS_ESPACIO',
                   'P35' : 'HOMBRE'
               }

emicron_22.rename(columns=nombre_estandar, inplace=True)

In [76]:
emicron_22.to_csv(r"D:\DANE - Contrato\2024\Operativo Barrido\Data\EMICRON_22_vf.csv", index= False)

# EMICRON 23

### 1. Lectura información

In [33]:
data_path = r"D:\DANE - Contrato\2024\Operativo Barrido\Data\Crudos"

In [34]:
emicron_23 = pd.read_sas(os.path.join(data_path,"emicron_2023.sas7bdat"), format = "sas7bdat")
# pd.DataFrame(emicron_23.columns).to_excel("Variables.xlsx")
# emicron_23[:5].transpose().to_excel("Muestra.xlsx")

#### 1.1 Arreglo variables

In [35]:
# Construcción id
emicron_23['id'] = emicron_23['DIRECTORIO'].astype(int).astype(str) + emicron_23['SECUENCIA_P'].astype(int).astype(str) + emicron_23['ORDEN'].astype(int).astype(str)

C:\Users\carlo\AppData\Local\Temp\ipykernel_20888\104079840.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  emicron_22['id'] = emicron_22['DIRECTORIO'].astype(int).astype(str) + emicron_22['SECUENCIA_P'].astype(int).astype(str) + emicron_22['ORDEN'].astype(int).astype(str)

In [36]:
# pd.DataFrame(emicron_23[['VENTAS_MES_ANTERIOR','P3057','P3058','P3059','P3060','P3061','P3062','P4002','P3063','P3064','P3065','P3066','P3067','P3092','P3093',
#             'REMUNERACION_TOTAL',
#             'GASTOS_MES','P3017_A','P3017_B','P3017_C','P3017_D','P3017_E','P3017_F','P3017_G','P3017_H','P3017_K',
#             'COSTOS_MES_ANTERIOR','P3056_A','P3056_B','P3056_C','P3056_D',
#             'P3032_1','P3032_2','P3032_3',
#             'COD_DEPTO','area','GRUPOS4','P3053','P1633','P1055','P640','P639','P3034']].isna().sum())

pd.DataFrame(emicron_23[[#'VENTAS_MES_ANTERIOR','P3057','P3058','P3059','P3060','P3061','P3062','P4002','P3063','P3064','P3065','P3066','P3067','P3092','P3093',
           'REMUNERACION_TOTAL',
           'GASTOS_MES','P3017_A','P3017_B','P3017_C','P3017_D','P3017_E','P3017_F','P3017_G','P3017_H','P3017_K',
           'COSTOS_MES_ANTERIOR','P3056_A','P3056_B','P3056_C','P3056_D',
           'P3032_1','P3032_2','P3032_3',
           'COD_DEPTO','area','GRUPOS4','P3053','P1633','P1055','P640','P639','P3034','MPIO','GRUPOS12','CIIU_3','P2760']].info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84753 entries, 0 to 84752
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   REMUNERACION_TOTAL   84753 non-null  float64
 1   GASTOS_MES           84753 non-null  float64
 2   P3017_A              84753 non-null  float64
 3   P3017_B              84753 non-null  float64
 4   P3017_C              84753 non-null  float64
 5   P3017_D              84753 non-null  float64
 6   P3017_E              84753 non-null  float64
 7   P3017_F              84753 non-null  float64
 8   P3017_G              84753 non-null  float64
 9   P3017_H              84753 non-null  float64
 10  P3017_K              84753 non-null  float64
 11  COSTOS_MES_ANTERIOR  84753 non-null  float64
 12  P3056_A              21803 non-null  float64
 13  P3056_B              44510 non-null  float64
 14  P3056_C              7653 non-null   float64
 15  P3056_D              10767 non-null  float64
 16  P3032_1              15017 non-null  float64
 17  P3032_2              15017 non-null  float64
 18  P3032_3              15017 non-null  float64
 19  COD_DEPTO            84753 non-null  object
 20  area                 56224 non-null  float64
 21  GRUPOS4              84753 non-null  object
 22  P3053                84753 non-null  float64
 23  P1633                84753 non-null  float64
 24  P1055                84753 non-null  float64
 25  P640                 84753 non-null  float64
 26  P639                 84753 non-null  float64
 27  P3034                84753 non-null  float64
 28  MPIO                 84753 non-null  object
 29  GRUPOS12             84753 non-null  object
 30  CIIU_3               84753 non-null  float64
 31  P2760                57942 non-null  object
dtypes: float64(27), object(5)
memory usage: 20.7+ MB

Empty DataFrame
Columns: []
Index: []

In [37]:
emicron_23['COD_DEPTO'].astype('int')

0         8
1         8
2         8
3         8
4         8
         ..
84748    66
84749    66
84750    66
84751    25
84752    25
Name: COD_DEPTO, Length: 84753, dtype: int32

In [38]:
emicron_23['GRUPOS12'] = emicron_23['GRUPOS12'].astype('int')
emicron_23['GRUPOS4'] = emicron_23['GRUPOS4'].astype('int')
emicron_23['MPIO'] = emicron_23['MPIO'].astype('int')
emicron_23['COD_DEPTO'] = emicron_23['COD_DEPTO'].astype('int')

### 2. Filtrado de la información
Se procederá a filtrar la base de datos con base en unos elementos particulares:  
1. Actividades económicas que cubre EMICRON y que no serán tenidas en cuenta en CENU.  
2. Ubicación del micronegocio. Ya que se entrenará un modelo para puestos fijos y micronegocios en vivienda (sólo los visibles al público), y otro para puestos móviles.   
3. Otras variables como el número de establecimientos, que permitan mantener una información homogénea.

#### 2.1 Actividades económicas que cubrirá el CENU 
Emicron incluye preguntas a los sectores de agricultura, ganadería, caza, silvicultura y pesca; además, de minería. Debido a que estos sectores no harán parte del Universo del Censo Económico, se descartarán de la base de datos:

In [39]:
emicron_23 = emicron_23[~(emicron_23['GRUPOS12'].isin([1,2,13]))]
emicron_23.shape

(73966, 496)

#### 2.2 Ubicación del micronegocio
Para el entrenamiento de los modelos se utilizará la ubicación de micronegocios en 1: Vivienda, 2: Local (puestos fijos), 4: Ambulante, por lo tanto sólo estas categorías se mantendrán. De igual manera, el CENU, sólo recolectará información de actividades económicas visibles, por lo tanto se filtrará por este tipo de micronegocios.

In [40]:
print(emicron_23['P3053'].value_counts())

# Seleccionar sólo viviendas, establecimientos y ambulantes
emicron_23 = emicron_23[emicron_23['P3053'].isin([1,2,4])]

print(emicron_23['P3053'].value_counts())

1.0    24206
3.0    15006
5.0    11263
2.0    10739
4.0     9184
6.0     2812
8.0      390
7.0      366
Name: P3053, dtype: int64
1.0    24206
2.0    10739
4.0     9184
Name: P3053, dtype: int64

In [41]:
# Visibilidad del micronegocio (sólo para viviendas)
emicron_23.drop(emicron_23[(emicron_23['P3053'] == 1) & (emicron_23['P469'] == 2)].index, inplace = True)

# [(emicron_23['P469'] == 1)]
print(emicron_23['P3053'].value_counts())

1.0    13395
2.0    10739
4.0     9184
Name: P3053, dtype: int64

In [42]:
emicron_23.shape

(33318, 496)

In [43]:
# Reemplazar los códigos en función de la codificación que se recibirá en el CENU
# 1: Establecimiento fijo
# 3: Vivienda con actividad económica visible
def rule(i):
    if i == 1:
        return 3
    elif i == 2:
        return 1
    return i

emicron_23['P3053'] = list(map(rule,emicron_23['P3053']))
print(emicron_23['P3053'].value_counts())

3.0    13395
1.0    10739
4.0     9184
Name: P3053, dtype: int64

#### 2.3 Ventas del mes anterior
Eliminar las filas cuyas ventas del año pasado son missing y cero

In [44]:
# Valores nulos ventas
print("Valores nulos ventas: ", emicron_23["VENTAS_MES_ANTERIOR"].isna().sum())

# Valores cero ventas
print("Ventas en cero: ", (emicron_23["VENTAS_MES_ANTERIOR"]==0).sum())

# Eliminar los registros con venta cero
#emicron_23 = emicron_23[~(emicron_23["VENTAS_MES_ANTERIOR"] == 0)]

emicron_23.shape

Valores nulos ventas:  0
Ventas en cero:  817

(33318, 496)

#### 2.4 Número de establecimientos
Eliminar las filas cuyo número de estabecimientos es diferente a 1, ya que la información que recolecta el CENU es por establecimiento y la recolectada por EMICRON es a nivel de negocio, pero a veces se presenta información también solo por establecimiento cuando el negocio tiene más de un establecimiento. Para evitar eso, sólo utilizar los micronegocios que reportan un sólo establecimiento comercial, que representan el 99.36 % de la muestra (casi todos).

In [50]:
emicron_23['P3054'] = pd.to_numeric(emicron_23['P3054'], errors='coerce')
print(emicron_23['P3054'].value_counts(),"\n_____________\n")
emicron_23 = emicron_23[(emicron_23['P3054'] == 1) | ((emicron_23['P3054'].isna()) & (emicron_23['P3053']==4))]
emicron_23.shape

1.0     27363
2.0        99
3.0        13
99.0       12
4.0         2
9.0         1
Name: P3054, dtype: int64
_____________

(33191, 496)

In [53]:
pd.crosstab(emicron_23['P3054'].isna(), emicron_23['P3053'])

P3053    1.0    3.0   4.0
P3054
False  10655  13371  3337
True       0      0  5828

In [54]:
pd.crosstab(emicron_23['P469'], emicron_23['P3053'])

P3053   1.0    3.0   4.0
P469
1.0    9972  13371  3129
2.0     683      0   208

### 3. Creación variables principales
1. Se creará una agrupación para la variable del número total de empleados  
2. Se agregarán los costos y los gastos en una sola variable (CYG)  
3. AREA se recodificará para que muestre si la observación pertenece a una ciudad capital del departamento  
4. Contabilidad

#### 3.1 Personal Ocupado

In [55]:
emicron_23['POTTOT'] = emicron_23[['P3032_1','P3032_2','P3032_3']].sum(axis=1) + 1
#emicron_23['POT_rem'] = emicron_23[['P3032_1']].sum(axis=1) + 1
#emicron_23['POT_norem'] = emicron_23[['P3032_2','P3032_3']].sum(axis=1)

# emicron_23[['POTTOT','POT_rem','POT_norem']].describe()
# emicron_23[['POTTOT','POT_rem','POT_norem','REMUNERACION_TOTAL']].corr()

#print("Coincidentes entre POTTOT y desagregación propuesta:\n",(emicron_23['POTTOT'] == emicron_23[['POT_rem','POT_norem']].sum(axis=1)).value_counts())

In [56]:
emicron_23['POTTOT'].describe()

count    33191.000000
mean         1.386611
std          0.867077
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          9.000000
Name: POTTOT, dtype: float64

#### 3.2 Ventas al mes

In [57]:
# Comparación suma individual y la agregada
print("Número de filas coincidentes entre la variable agregada y la suma de las individuales:\n",(emicron_23['VENTAS_MES_ANTERIOR'] == emicron_23[['P3057','P3058','P3059','P3060','P3061','P3062','P4002','P3063','P3064','P3065','P3066','P3067','P3092','P3093']].sum(axis=1)).value_counts())
#emicron_23[['VENTAS_MES_ANTERIOR','P3057','P3058','P3059','P3060','P3061','P3062','P4002','P3063','P3064','P3065','P3066','P3067','P3092','P3093']][~(emicron_23['VENTAS_MES_ANTERIOR'] == emicron_23[['P3057','P3058','P3059','P3060','P3061','P3062','P4002','P3063','P3064','P3065','P3066','P3067','P3092','P3093']].sum(axis=1))]

Número de filas coincidentes entre la variable agregada y la suma de las individuales:
 True    33191
dtype: int64

#### 3.3 Costos y gastos al mes

In [58]:
# Comparación suma individual y la agregada
print("Número de filas coincidentes entre la variable agregada y la suma de las individuales:\n",(emicron_23['COSTOS_MES_ANTERIOR'] == emicron_23[['P3056_A','P3056_B','P3056_C','P3056_D']].sum(axis=1)).value_counts())

Número de filas coincidentes entre la variable agregada y la suma de las individuales:
 True    33191
dtype: int64

In [59]:
# Comparación suma individual y la agregada
print("Número de filas coincidentes entre la variable agregada y la suma de las individuales:\n",(emicron_23['GASTOS_MES'] == emicron_23[['P3017_A','P3017_B','P3017_C','P3017_D','P3017_E','P3017_F','P3017_G','P3017_H','P3017_K']].sum(axis=1)).value_counts())

Número de filas coincidentes entre la variable agregada y la suma de las individuales:
 True    33191
dtype: int64

In [60]:
# Agregación de la variable
emicron_23['CYG'] = emicron_23[['COSTOS_MES_ANTERIOR','GASTOS_MES']].sum(axis=1)

#### 3.4 Variable de Ciudad Capital y A.M
Recodificar la variable de Área en función de si es una ciudad principal o un área metropolitana dentro del departamento

In [61]:
def rule_city(i):
    if pd.isna(i) == True:
        return 0
    else:
        return 1
    return i

emicron_23['CPAM'] = list(map(rule_city,emicron_23['area']))

In [62]:
pd.crosstab(emicron_23['COD_DEPTO'],emicron_23['area'].isna())

area       False  True
COD_DEPTO
5           1487   419
8           1343   434
11           663    11
13          1392   350
15           659   260
17          1018   269
18          1249   261
19           723   263
20           843   246
23           791   315
25             0   433
27           704   159
41           710   311
44          1186   535
47          1465   724
50          1171   383
52          1220   706
54          1147   232
63           783   242
66          1036   178
68          1510   597
70          1319   368
73           748   315
76          1144   550
88           319     0

#### 3.5 Variables de formalidad

In [63]:
## Formalidad del micronegocio
# Tiene RUT
emicron_23['P1633'] = [0 if num == 2 else num for num in emicron_23['P1633']]
# Está inscrito en CC
emicron_23['P1055'] = [0 if num == 2 else num for num in emicron_23['P1055']]

#### 3.6 Manera de llevar la contabilidad

In [208]:
## Manera de llevar contabilidad
# Se unifica 4: informes financieros en 1: Balance General P&G
print("Frecuencia forma de llevar contabilidad emicron:\n",emicron_23['P640'].value_counts(),"__________\n")

emicron_23['P640'] = [1 if num == 4 else num for num in emicron_23['P640']]
print("Frecuencia luego de la homologación:\n",emicron_23['P640'].value_counts(),"________\n")

# Se cambia el 5 por 4, para homogenizar con los códigos de CENU
emicron_23['P640'] = [4 if num == 5 else num for num in emicron_23['P640']]
print("Frecuencia luego del cambio de códificación:\n",emicron_23['P640'].value_counts(),"________\n")

Frecuencia forma de llevar contabilidad emicron:
 5.0    12437
3.0     9841
2.0     2490
1.0      952
4.0      118
Name: P640, dtype: int64 __________

Frecuencia luego de la homologación:
 5.0    12437
3.0     9841
2.0     2490
1.0     1070
Name: P640, dtype: int64 ________

Frecuencia luego del cambio de códificación:
 4.0    12437
3.0     9841
2.0     2490
1.0     1070
Name: P640, dtype: int64 ________

#### 3.7 Antigüedad

In [68]:
emicron_23['ANIOS_OPERACION'] = emicron_23['P3034'] / 12
#emicron_23['ANIOS_OPERACION'].describe()
emicron_23['ANIOS_OPERACION'] = round(emicron_23['ANIOS_OPERACION'])
emicron_23['ANIOS_OPERACION'].describe()

count    33191.000000
mean        10.077973
std         10.228451
min          0.000000
25%          2.000000
50%          6.000000
75%         15.000000
max         83.000000
Name: ANIOS_OPERACION, dtype: float64

#### 3.8 Sexo

In [70]:
emicron_23['P35'].value_counts()
emicron_23['P35'] = [0 if num == 2 else num for num in emicron_23['P35']]

## 4. Renombrar variables

In [72]:
nombre_estandar = {'P3053': 'UBICA',
                   'P1633': 'IDRUT',
                   'P640': 'REG_CONT',
                   'P1055':'CAMCOMER',
                   'P639' : 'ANOS_ESPACIO',
                   'P35' : 'HOMBRE'
               }

emicron_23.rename(columns=nombre_estandar, inplace=True)

In [76]:
emicron_23.to_csv(r"D:\DANE - Contrato\2024\Operativo Barrido\Data\emicron_23_vf.csv", index= False)