In [3]:
#import sklearn
import pickle
import pandas as pd

In [1]:
data_path = r"D:\Despliegue\Proyecto HOP\Data\Vcalle/"
model_path = r"D:\Despliegue\Syntax\Modelado/"

In [8]:
with open(model_path + "modelo_svc_optimizado_vcalle.pkl",'rb') as file:
    pipeline_vcalle = pickle.load(file)

In [9]:
pipeline_vcalle.named_steps

{'preprocessor': ColumnTransformer(transformers=[('num', StandardScaler(),
                                  Index(['VENTAS', 'POTTOT', 'CYG', 'VA', 'C_V'], dtype='object')),
                                 ('cat', OneHotEncoder(drop='first'),
                                  Index(['COD_DPTO', 'CPAM', 'GRUPOS12', 'ANOS_ESPACIO', 'HOMBRE'], dtype='object'))]),
 'classifier': SVC(C=10, random_state=42)}

In [6]:
df = pd.read_csv(data_path + "02 - Intermedio/CENU_SIMULADO_modelo.csv")

In [11]:
df.set_index('UID_ENCUESTA', inplace = True)

In [13]:
transformador = pipeline_vcalle.named_steps['preprocessor']

In [14]:
df_tr = transformador.transform(df)

In [23]:
new = pd.DataFrame(df_tr.toarray())

In [26]:
pred = pipeline_vcalle.predict(df)

In [28]:
pred.sum()

np.int64(260105)

In [50]:
mean = transformador.named_transformers_['num'].mean_

In [51]:
std = transformador.named_transformers_['num'].scale_

In [48]:
df.head()

,VENTAS,POTTOT,CYG,VA,C_V,COD_DPTO,CPAM,GRUPOS12,ANOS_ESPACIO,HOMBRE
UID_ENCUESTA,,,,,,,,,,
25458,7.204689e+06,4.0,3.188209e+06,4.016480e+06,0.442519,Caquetá,No,Industria,[0-1),Sí
9162,2.584695e+06,5.0,4.910620e+06,-2.325924e+06,1.899883,Caquetá,No,Industria,x>=10,No
43946,2.416603e+06,7.0,4.141366e+06,-1.724763e+06,1.713713,Boyacá,No,Industria,[1-3),No
66130,3.552550e+06,9.0,4.372269e+06,-8.197195e+05,1.230741,Sucre,No,Industria,[5-10),No
42224,5.857836e+05,7.0,4.059099e+06,-3.473315e+06,6.929337,Tolima,No,Industria,x>=10,Sí

In [49]:
new.head()

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
0,44.259806,4.321269,21.123362,37.338515,-0.046439,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,15.536563,5.919568,32.738594,-22.064272,-0.046385,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,14.491507,9.116166,27.551063,-16.433813,-0.046392,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,21.553867,12.312764,29.108177,-7.957200,-0.046410,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,3.109009,9.116166,26.996286,-32.810705,-0.046200,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [53]:
(df['VENTAS'] - mean[0]) / std[0]

UID_ENCUESTA
25458    44.259806
9162     15.536563
43946    14.491507
66130    21.553867
42224     3.109009
           ...
54277     6.931415
53447    33.724215
49473    61.557425
14754    28.681060
76717     1.736684
Name: VENTAS, Length: 260105, dtype: float64

In [63]:
len(transformador.named_transformers_['cat'].get_feature_names_out())

39

In [66]:
len(transformador.named_transformers_['num'].get_feature_names_out())

5

In [64]:
df['Anomalia'] = pred

In [71]:
list(transformador.named_transformers_['num'].get_feature_names_out()) + list(transformador.named_transformers_['cat'].get_feature_names_out())

['VENTAS',
 'POTTOT',
 'CYG',
 'VA',
 'C_V',
 'COD_DPTO_Atlántico',
 'COD_DPTO_Bogotá, D. C.',
 'COD_DPTO_Bolívar',
 'COD_DPTO_Boyacá',
 'COD_DPTO_Caldas',
 'COD_DPTO_Caquetá',
 'COD_DPTO_Cauca',
 'COD_DPTO_Cesar',
 'COD_DPTO_Chocó',
 'COD_DPTO_Cundinamarca',
 'COD_DPTO_Córdoba',
 'COD_DPTO_Huila',
 'COD_DPTO_La Guajira',
 'COD_DPTO_Magdalena',
 'COD_DPTO_Meta',
 'COD_DPTO_Nariño',
 'COD_DPTO_Norte De Santander',
 'COD_DPTO_Quindío',
 'COD_DPTO_Risaralda',
 'COD_DPTO_San Andrés',
 'COD_DPTO_Santander',
 'COD_DPTO_Sucre',
 'COD_DPTO_Tolima',
 'COD_DPTO_Valle Del Cauca',
 'CPAM_Sí',
 'GRUPOS12_Actividades de salud humana',
 'GRUPOS12_Actividades inmobiliarias',
 'GRUPOS12_Alojamiento/servicios de comida',
 'GRUPOS12_Comercio',
 'GRUPOS12_Construcción',
 'GRUPOS12_Educación',
 'GRUPOS12_Industria',
 'GRUPOS12_Información y comunicaciones',
 'GRUPOS12_Transporte y almacenamiento',
 'ANOS_ESPACIO_[1-3)',
 'ANOS_ESPACIO_[3-5)',
 'ANOS_ESPACIO_[5-10)',
 'ANOS_ESPACIO_x>=10',
 'HOMBRE_Sí']

In [76]:
new.columns = list(transformador.named_transformers_['num'].get_feature_names_out()) + list(transformador.named_transformers_['cat'].get_feature_names_out())

In [1]:

          
           
          
           
           
           
         
        
           12:"Actividades artísticas",

NameError: name 'new' is not defined