In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
#from statsmodels.stats.weightstats import DescrStatsW
from matplotlib import patheffects
from sqlalchemy import create_engine
from sqlalchemy import inspect
from sqlalchemy.orm import sessionmaker
from sqlalchemy import Column, Integer, String, Date, MetaData, Table, Numeric, Time
import sys
from urllib.request import urlopen
import json

In [4]:
## Definiendo conexión con la base de datos
host = "localhost"
database = "dane"
user = "postgres"
port = 5432
password = "1234"

connection_string = f"postgresql://{user}:{password}@{host}:{port}/{database}"
connection_string

'postgresql://postgres:1234@localhost:5432/dane'

In [6]:
## Conectándose con el motor e importando las tabñas
engine = create_engine(connection_string)
insp = inspect(engine)
insp.get_table_names()

[]

In [9]:
sql = 'SET SEARCH_PATH TO public, data_cruda, data_intermedia; SELECT * FROM v_calle;'

In [10]:
df = pd.DataFrame(pd.read_sql(sql, con = engine))

In [11]:
df.dtypes

uid_encuesta            int64
cod_dpto               object
cod_mpio               object
clase                   int64
meses_trabajo          object
                       ...
gasto_alimentacion    float64
gastoviv_otro         float64
porc_gas_hog           object
gasto_tot             float64
ventas                float64
Length: 100, dtype: object

In [12]:
df.head()

,uid_encuesta,cod_dpto,cod_mpio,clase,meses_trabajo,semanas_trabajo,dias_trabajo,horastra,lugar_fijo,estaciona,...,gasto_bod,gasto_trans,gasto_arriendo,gasto_otro,gasto_vivienda,gasto_alimentacion,gastoviv_otro,porc_gas_hog,gasto_tot,ventas
0,31572,81,81065,2,14. Diciembre,1. Una semana,5. Viernes,5,2. No,1. SÃ­,...,938665.4,851039.9,316904.6,469174.4,419011.0,381412.9,737893.9,88.8,2592269.2,2628117.0
1,31572,81,81065,2,14. Diciembre,1. Una semana,5. Viernes,5,2. No,1. SÃ­,...,938665.4,851039.9,316904.6,469174.4,419011.0,381412.9,737893.9,88.8,2592269.2,2628117.0
2,17809,18,18256,1,11. Septiembre,1. Una semana,6. SÃ¡bado,6,2. No,2. No,...,306969.7,97603.4,629271.8,790017.4,352987.2,370594.6,465164.8,51.7,2622998.3,7849129.5
3,9162,18,18256,1,11. Septiembre,2. Dos semanas,5. Viernes,6,2. No,1. SÃ­,...,788695.8,982196.6,812441.5,732898.4,449146.3,351383.9,495711.9,51.5,3946839.3,2584695.4
4,43946,15,15176,2,13. Noviembre,1. Una semana,3. MiÃ©rcoles,11,1. SÃ­,2. No,...,508300.0,998246.2,819898.4,261344.8,3816.1,3704.6,463327.6,32.2,3340812.8,2416603.1